/* UNSCROLLED HEADER */
.header {
  position: relative;
  width: 100%;
  height: 200px;
}
.name {
  font-size: 64pt;
  display: block;
  text-align: center;
}
.species {
  display: block;
  text-align: center;
}
.born {
  display: block;
  text-align: center;
}
/* PHOTOS COLUMNS */
.photos-wrapper {
  width: 99%;
  margin: 0 auto;
}
.photo-column {
  box-style: border-box;
  width: 32%;
  font-size: 0;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
}
.photo-column img {
  width: 100%;
  margin-top: 10px;
  box-shadow: -4px 4px 0px #eee;
}
